# Dependencies
node_modules/

# Build output
dist/
build/

# Miscellaneous
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript
*.tsbuildinfo

# Webpack Cache
.cache/
.cache-loader/

# Coverage Directory used by tools like istanbul
coverage/

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Temporary files
*.swp
*.tmp
*.temp

# Optional npm cache directory
.npm

# Parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache
